@font-face {
    font-family: "SairaSemiBold";
    src: url(assets/Saira_Extra_Condensed/SairaExtraCondensed-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "SairaMedium";
    src: url(assets/Saira_Extra_Condensed/SairaExtraCondensed-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "SairaRegular";
    src: url(assets/Saira_Extra_Condensed/SairaExtraCondensed-Regular.ttf) format("truetype");
}